<div class="page-header">
  <h1>
  	<span class="glyphicon glyphicon-list-alt"></span>
  	Etat de services de 
    <%= @intervenant.nom_prenom %>
  </h1>

</div>

<%= simple_format(@stream) %>