<div class="page-header">
  <h1>
  	<span class="glyphicon glyphicon-export"></span>
  	Export des Intervenants 
  </h1>
</div>

<div>
  <h3>Cette fonction permet la création d'une feuille Excel contenant tous les intervenants</h3>
</div>

<%= form_tag({action: "export_intervenants_do", method: :post}) do %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">

        <div class="actions">
          <%= submit_tag "Exporter", class: "btn btn-success" %>
        </div>

      </div>
    </div>
  </div>
  
<% end %>