<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-dashboard"></span>
  	Taux d'occupation
    du <%= l(@start_date.to_date) %> au <%= l(@end_date.to_date) %>
  </h1>
</div>

<%= simple_format(@stream) %>