<div class="page-header">
  <%= link_to fermetures_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <h1>Modification d'un jour de fermeture</h1>
</div>

<%= render 'form' %>
