<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
        Votre cours <%= "#{@cours.formation.nom}/#{@cours.nom_ou_ue}" %> 
        du <%= l(@cours.debut, format: :long) %> 
        vient d'être <b><%= @cours.etat.humanize %></b>
    </h1>
    <p>
      <%= link_to "Voir le planning", root_url(formation_id:@cours.formation_id) %>
    </p>
  </body>
</html>