<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
  
    <body>
        <%= image_tag("logo_iae.png") %>

        <h2>Rappel de vos cours de la semaine prochaine :</h2>

        <table style="border: 1px solid black;">
            <tbody>
                <% @les_cours.each do |c| %>
                    <tr>
                        <td><%= c %></td>
                    </tr>
                <% end %>
                <br>
            </tbody>
            <br>
            <tfoot>
                <tr>
                    <td><%= "\n Total: #{@les_cours.size} cours" %></td>
                <tr>
            </tfoot>
        </table>

        <p>
            Merci de vérifier ce récapitulatif 
            et de nous signaler rapidement les erreurs ou omissions éventuelles.
        </p>
    </body>
</html>