<% formation = Formation.unscoped.find(@cours.first.formation_id) %>
<h2>
    <%= formation.try(:nom) %>
</h2>
<br>

<table class="table_pdf">
    <tr>
        <th>Date</th>
        <th>Heure</th>
        <th>Durée</th>
        <th>Intervenant</th>
        <th>UE</th>
        <th>Intitulé</th>
        <th>Obs.</th>
    </tr>
    
    <% @cours.each do |cours| %>
        <%= render partial: 'cours', 
                    locals: {cours: cours, 
                             formation: formation,   
                             show_comments: true }
        %>
    <% end %>
</table>
<br>
<small><i>Liste au <%= l Date.today, format: :long %></i></small>
