<h2>
    <%= @cours.first.formation.nom %>
</h2>
<br>

<table class="table_pdf">
    <tr>
        <th>Date</th>
        <th>Heure</th>
        <th>Durée</th>
        <th>Intervenant</th>
        <th>UE</th>
        <th>Intitulé</th>
    </tr>
    
    <% @cours.each do |cours| %>
        <%= render partial: 'cours', locals: {cours: cours, cours_formation: cours.formation, show_comments: false } %>
    <% end %>
</table>
<br>
<i>Le: <%= l Date.today, format: :long %></i>
