<div class="page-header">
  <%= link_to formations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Retour
  <% end %>
  <h1>Nouvelle Formation</h1>
</div>

<%= render 'form' %>
