<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-info-sign"></span> 
    Guide de l'utilisateur IAE_planning
  </h1>
</div>

<h2>Application web de planification de cours</h2>
<h3>Collaborative, flexible et simple d'utilisation :)</h3>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/cours1.png">
        <img src="/Images/guide/cours1.png" alt="Planning journalier" style="width:100%">
        <div class="caption">
          <p>Planning journalier</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/cours2.png">
        <img src="/Images/guide/cours2.png" alt="Planning journalier" style="width:100%">
        <div class="caption">
          <p>Planning journalier. Sélection d'une formation</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/cours3.png">
        <img src="/Images/guide/cours3.png" alt="Planning semaine" style="width:100%">
        <div class="caption">
          <p>Planning semaine</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/cours4.png">
        <img src="/Images/guide/cours4.png" alt="Planning semaine" style="width:100%">
        <div class="caption">
          <p>Planning semaine</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/cours6.png">
        <img src="/Images/guide/cours6.png" alt="Planning mensuel" style="width:100%">
        <div class="caption">
          <p>Planning mensuel</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/cours7.png">
        <img src="/Images/guide/cours7.png" alt="Planning mensuel" style="width:100%">
        <div class="caption">
          <p>Planning mensuel</p>
        </div>
      </a>
    </div>
  </div>
</div>


<h3>Gestion des Cours</h3>
<ul>
    <li>Chaque cours est associé à une Formation, un ou deux Intervenants, une Salle et un Etat (Planifié, Confirmé, Reporté, Annulé, Réalisé)</li>
    <li>Affichage des cours sous forme de Liste, de Calendrier (semaine/mois) ou Etat d'Occupation des salles</li>
    <li>Affichage d'alerte si dépassement de capacité de la salle</li>
    <li>Impossibilité de saisir un nouveau cours ayant lieu un dimanche ou un jour de fermeture de l'établissement</li>
    <li>Pas de chevauchement horaire pour un même intervenant. Il est pas possible de saisir un nouveau cours si le formateur intervient déjà sur un autre cours aux même heures</li>
    <li>Recheche multi-critères (Filtre sur Date, Formation, Intervenant, Etat, Cours passés ou futurs)</li>
    <li>Manipulation d'un groupe de cours (Changement d'Etat, changement de Salle, Export...)</li>
    <li>Export des cours vers Excel (CSV), Outlook/Google Agenda(iCal), PDF</li>
</ul>

<h3>Gestion des Formations</h3>
<ul>
    <li>Chaque formation est associée à un code couleur pour un répérage rapide dans le planning</li>
    <li>Gestion des UE (une liste d'UE est associée à chaque formation, avec indication du nombre d'heures)</li>
    <li>Archivage des formations</li>
    <ul>
		<li>
			<b>Pour archiver une formation :</b>		
			<br>
			Pour faire disparaitre du planning (temporairement) une formation, allez dans Formations/Choisir la formation à archiver/Modifier => Cocher "Archivée" et Enregistrez. Cette formation ne sera plus visible dans toute l'application.
			Pour faire réapparaitre une formation archivée, allez dans Formations/Cocher Archivées pour filtrer les formations archivées puis modifier la formation à faire réapparaitre, décochez "Archivée ?" et enregistrez. Cette formation est alors de nouveau visible dans toute l'application.
		</li>    	
    </ul>
</ul>

<h3>Gestion des Etudiants</h3>
<ul>
    <li>Chaque étudiant est associé à une formation</li>
</ul>

<h3>Gestion des Intervenants</h3>
<ul>
    <li>Profil des intervenants avec photo, status, formations dispensées (affichage dynamique basé sur les cours enregistrés, avec le nombre d'heures planifiées et la date du premier cours)</li>
    <ul>
		<li>
			<b>Filtrer les cours;</b> Pour que la recherche d'intervenant soit fructueuse :
			<br>
			Comme le système cherche un intervenant qui se nomme NOM+Espace+PRENOM, il ne faut donc pas d’espace, ni dans le nom, ni dans le prénom.
			Ex: "A et CONFIRMER" sera compris comme nom=A, prénom=CONFIRMER. Il convient donc de remplacer l'espace par un "_", ce qui donnera "A_CONFIRMER".
			Le nom et le prénom sont obligatoires. Remplissez un champ vide par un point si besoin.
		</li>
	</ul>
</ul>

<h3>Gestion des Salles</h3>
<ul>
    <li>Gestion de la capacité (alerte si dépassement)</li>
    <li>Visualisation des créneaux horaires libres/occupés pour une date, une salle</li>
</ul>

<h3>Gestion des Utilisateurs</h3>
<ul>
    <li>Le profil 'admin' permet d'administrer les cours (suppression) et les utilisateurs</li>
</ul>

<h3>Outils</h3>
<ul>
    <li>Gestion des jours de fermeture</li>
    <li>Réservation de créneaux horaires</li>
    <li>Planning pour afficheur (Slide)</li>
    <li>Etats de services</li>
    <li>Taux d'occupation jours</li>
    <li>Taux d'occupation salles</li>
	<li>Import de cours</li>
	<li>Import d'intervenants</li>
	<li>Import d'étudiants</li>
	<li>Import log</li>
	<li>Export de cours</li>
	<li>Export d'intervenants</li>
	<li>Export d'étudiants</li>
	<li>Utilisateurs</li>
	<li>Import des utilisateurs</li>
	<li>Intervertir deux intervenants</li>
	<li>Audit des modifications</li>
	<li>Gestion des Salles</li>
	<li>Nouvelle saison</li>
</ul>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/reservation.png">
        <img src="/Images/guide/reservation.png" alt="Réservations groupées" style="width:100%">
        <div class="caption">
          <p>Réservations groupées</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/etats-services.png">
        <img src="/Images/guide/etats-services.png" alt="Etats de services" style="width:100%">
        <div class="caption">
          <p>Etats de services</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/audit.png">
        <img src="/Images/guide/audit.png" alt="Audit des modifications" style="width:100%">
        <div class="caption">
          <p>Audit des modifications</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/imports-log.png">
        <img src="/Images/guide/imports-log.png" alt="" style="width:100%">
        <div class="caption">
          <p>Imports log</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/audit.png">
        <img src="/Images/guide/audit.png" alt="Audit des modifications" style="width:100%">
        <div class="caption">
          <p>Audit des modifications</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/reservation-saison.png">
        <img src="/Images/guide/reservation-saison.png" alt="Réservation créneaux sur une saison" style="width:100%">
        <div class="caption">
          <p>Réservation de créneaux horaires pour une saison</p>
        </div>
      </a>
    </div>
  </div>
</div>

<h3>Importation des données</h3>
<ul>
    <li>Les cours, formations, intervenants, étudiants et les utilisateurs peuvent être importés en masse à 	   partir de fichiers CSV issues de tableaux Excel.
    </li>
    <li>Ce fichier doit être au format CSV, Encodage: <b>UTF-8</b>, Séparateur: <b>Point-virgule</b>, Noms 		   des colonnes: <b>Première ligne</b>
  	</li>
      <ul>
          <li>
            Si besoin, utilisez un 
            <a href="https://subtitletools.com/convert-text-files-to-utf8-online">
              convertisseur UTF8 en ligne 
            </a>
        </li>
      </ul>
    <ul>
	  	<li>
	    	<b>Importation de cours:</b> le fichier source doit contenir les colonnes suivantes: <br>
	    	<pre>id;Date début (format:'JJ/MM/AAAA');Heure début (format:'09:30');Date fin;Heure fin;UE;Intervenant (format:'NOM Prénom');Intitulé</pre>
	    	<b>Si id est égal à 0, c'est une création de cours, sinon c'est une mise à jour du cours ayant comme identifiant unique l'id donné. Si le cours ayant cet id n'existe plus, il sera créé.</b>
        La colonnne id doit être en première position.
	  	</li>
	  	<br>
        <li>
	    	<b>Importation d'utilisateurs:</b> le fichier source doit contenir les colonnes suivantes: <br>
	    	<pre>email;nom;prénom;mobile</pre>
    	    <b><i>Chaque nouvel utilisateur sera averti de la création de son compte par l'envoi d'un email contenant son mot de passe</i></b> 
	    </li>
	</ul>
</ul>

<h3>Export des données</h3>
<ul>
    <li>Toutes les données sont exportables au format CSV</li>
</ul>

<h3>Historique des modifications</h3>
<ul>
    <li>Chaque modification apportée aux données est enregistrée dans un journal, avec la date, l'utilisateur, la table, le champs et la valeur avant/après modification</li>
</ul>

<h3>RH</h3>
<ul>
    <li>Etat récapitulatif mensuel des cours effectués</li>
</ul>

<h3>API</h3>
<ul>
    <li>Une API fournit les données du planning au format JSON aux applications tierces/mobiles</li>
</ul>

<h3>Notification</h3>
<ul>
    <li>Les chargés de scolarité et les étudiants peuvent recevoir une notification par email/SMS(à venir) lors de l'annulation de cours</li>
</ul>

<h3>Mobile & Responsive Design</h3>
<ul>    
	<li>Le planning peut être visualisé sur différents supports (Responsive Design)</li>
	<li>Vue planning adaptée aux écrans de smartphones</li>
    <li>Adapté au standard PWA (Progressive Web App)</li>
</ul>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/mobile0.png">
        <img src="/Images/guide/mobile0.png" alt="Planning mobile" style="width:100%">
        <div class="caption">
          <p>Planning mobile</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/mobile1.png">
        <img src="/Images/guide/mobile1.png" alt="Planning mobile" style="width:100%">
        <div class="caption">
          <p>Indicateur d'avancement des cours</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/Images/guide/mobileSalles.png">
        <img src="/Images/guide/mobileSalles.png" alt="Planning hebdomadaire mobile" style="width:100%">
        <div class="caption">
          <p>Planning mobile hebdomadaire</p>
        </div>
      </a>
    </div>
  </div>
</div>

<h3>Affichage sur panneaux lumineux</h3>
<ul>
    <li>Planning du jour optimisé pour les grands écrans</li>
</ul>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/Images/guide/afficheur.png">
        <img src="/Images/guide/afficheur.png" alt="Afficheur" style="width:100%">
        <div class="caption">
          <p>Planning sur afficheur 1/2</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/Images/guide/afficheur2.png">
        <img src="/Images/guide/afficheur2.png" alt="Planning mensuel" style="width:100%">
        <div class="caption">
          <p>Planning sur afficheur 2/2</p>
        </div>
      </a>
    </div>
  </div>
</div>
